<div class="container">

  <div class="page-header">
    <h1>Pезультаты теста</h1>
  </div>

  <p>Пользователь: {{vm.user.name}}</p>
  <p>Курс: {{vm.user.course}}</p>
  <p>Правильных ответов: {{vm.user.correctAnsvers}} / {{vm.variantQustionsCount}}</p>

  <button type="button" class="btn btn-primary" ng-click="vm.restartTest()">Начать заново</button>


</div>
