
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container-login">
    <div class="form-login">
        <h4>Добро пожаловать</h4>
        <input type="text" class="form-control input-sm chat-input" ng-model="vm.name" placeholder="ФИО" />
        </br>
        <input type="text" class="form-control input-sm chat-input" ng-model="vm.course" placeholder="Курс" />
        </br>
        <input type="password" ng-model="vm.password" class="form-control input-sm chat-input" placeholder="Пароль" />
        </br>
        <div class="wrapper">
        <span class="group-btn">     
            <button class="btn btn-primary btn-md"" ng-click="vm.startTest()">Начать <i class="fa fa-sign-in"></i></button>
        </span>
        </div>
    </div>
</div>