/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.container>.login {
    padding: 25px;
    position: fixed;
    top: 100px;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}



.answer-style-container {
    margin-top: 5px;
    padding: 5px 0 5px 0
}

.answer-style-container .answer-style {
    display: block;
    cursor: pointer;
    font-weight: inherit;
    margin-bottom: 0;
    position: relative;
    padding: 14px 10px 14px 0;
    cursor: pointer;
    overflow: hidden;
    border: 1px dashed #eee
}

.answer-style-container .answer-style.inrow {
    float: left;
    margin: 0 15px 10px 0!important
}

.answer-style-container .answer-style:hover {
    border-color: #aaa
}

.readonly .answer-style-container .answer-style {
    cursor: default
}

.readonly .answer-style-container .answer-style:hover {
    border-color: #eee
}

.answer-style-container .answer-style.disabled:hover {
    border-color: #eee
}

.answer-style-container .answer-style+.answer-style {
    margin-top: 10px
}

.answer-style-container .answer-style.disabled {
    cursor: default
}

.answer-style-container .answer-style .input-cont {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -15px
}

.answer-style-container .answer-style .input-cont+div {
    margin-left: 50px
}

.answer-style-container .answer-style .points-cont {
    width: 100px;
    float: left
}

.answer-style-container .answer-style .points-cont .points-count {
    text-align: center;
    font-size: 20px
}

.answer-style-container .answer-style .points-cont .points-categ {
    font-size: 9px;
    text-align: center;
    word-wrap: break-word
}

.answer-style-container .answer-style .points-cont+div {
    margin-left: 110px
}

.answer-style-container .answer-style .order-cont {
    width: 40px;
    height: 60px;
    float: left;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -30px
}

.answer-style-container .answer-style .order-cont.only-ind {
    height: 26px;
    margin-top: -13px
}

.answer-style-container .answer-style .order-cont .order-count {
    font-size: 20px;
    line-height: 1
}

.answer-style-container .answer-style .order-cont+div {
    margin-left: 50px;
    min-height: 40px
}

.answer-style-container .answer-style input[type=radio],
.answer-style input[type=checkbox] {
    display: none
}

.answer-style-container .answer-style input[type=radio]+span,
.answer-style input[type=checkbox]+span {
    display: inline-block;
    width: 30px;
    height: 30px
}

.answer-style-container .answer-style input[type=radio]+span:before,
.answer-style input[type=checkbox]+span:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 50%;
    color: #337ab7
}

.answer-style-container .answer-style input[type=checkbox]+span:before {
    border-radius: 7px
}

.answer-style-container .answer-style input[type=radio][disabled=disabled]+span:before,
.answer-style-container .answer-style input[type=checkbox][disabled=disabled]+span:before {
    color: #606060!important
}

.answer-style-container .answer-style input.ans-wrong[type=radio]+span:before,
.answer-style-container .answer-style input.ans-wrong[type=checkbox]+span:before {
    color: #e74c3c!important
}

.answer-style-container .answer-style input.ans-right[type=radio]+span:before,
.answer-style-container .answer-style input.ans-right[type=checkbox]+span:before {
    color: #16a085!important
}

.answer-style-container .answer-style:hover input[type=radio]+span:before,
.answer-style-container .answer-style:hover input[type=checkbox]+span:before {
    border: 3px solid;
    transition: border linear .1s;
    transition: border-color linear .2s
}

.answer-style-container .answer-style:hover input[type=radio][disabled=disabled]+span:before,
.answer-style-container .answer-style:hover input[type=checkbox][disabled=disabled]+span:before {
    border: 1px solid
}

.answer-style-container .answer-style input[type=radio]:checked+span:before,
.answer-style-container .answer-style input[type=checkbox]:checked+span:before {
    content: "•";
    font-size: 40px;
    text-align: center;
    line-height: 22px;
    border: 4px solid!important
}

.answer-style-container .answer-style input[type=checkbox]:checked+span:before {
    content: "✓";
    font-size: 22px;
    line-height: 1;
    font-weight: bold
}

.container-login {
    position: fixed;
    width: 100%;
    height: 100%;

}
.form-login {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -150px;
    width: 300px;
    height: 300px;
}
textarea {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
